<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
      <link rel="stylesheet" href="/static/style.css" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/static/js.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="header clearfix">


                 <div class="navbar">
                  <a href="#home">Home</a>
                  <div class="dropdown">
                    <button class="dropbtn">Menu
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="/watersys">Watering System</a>
                      <a href="http://www.guacamole.newcastlepad.com">Guacamole</a>
                      <a href="http://www.qbittorrent.newcastlepad.com">Qbittorrent</a>
                        <a href="#">Cockpit</a>
                        <a href="/internet">Internet Stats</a>
                        <a href="#">Tatuli</a>
                        <a href="/upload">Upload</a>


                    </div>
                  </div>
                </div>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2016 Your Name Here</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>