<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}




<form action="login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type='text' name='email' id='email' placeholder='username'/>
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type='password' name='password' id='password' placeholder='password'/>
                    <input type="hidden" name="location" value={{ next_page }}>
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
                {% with messages = get_flashed_messages() %}
                     {% if messages %}
                        <ul class=login_flashes>
                     {% for message in messages %}
                         {{ message }}
                    {% endfor %}
                        </ul>
                            {% endif %}
                                {% endwith %}

                <input type='submit' name='submit' class="login-btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}